.btn {
  padding: 5px;
  color: #fff;
  font-weight: 600;
  background-color: cornflowerblue;
  border: solid 1px;
  border-radius: 5px;
  border-color: rgb(51, 102, 196);
  width: inherit;
  max-width: 270px;
  height: 30px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: rgb(51, 102, 196);
}