.btn {
  padding: 10px;
  color: #722ae6;
  font-weight: 600;
  background-color: #e4b5cb;
  border: solid 1px;
  border-radius: 5px;
  border-color: #4d1d99;
  width: inherit;
  max-width: 270px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: #72294b;
  color: #af8de7;
}