.container {
  border-image-slice: 1;
  border-image-source: linear-gradient(315deg, #e4b5cb 0%, #722ae6 74%);
  border-color: #e4b5cb;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  width: 400px;
}